<!DOCTYPE html>
<html>
  <head>
    <title>WishGame</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="center-align">
        <% flash.each do |type, message| %>
         <div class="alert alert-<%= type %>">
           <a href ="#" class="close" data-dismiss="alert">&times;</a>
           <%= message %>
         </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>

<style type="text/css">
  .center-align {
    margin: 50px auto;
    text-align: center;
  }
</style>
